<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Favorites</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<div class="sidebar">
    <h2>Menu</h2>

    <a href="/user/login_success">Back to home</a>

    <a href="/live">Live Map</a>
    <a href="/sales-points">Sales Points</a>

    <a href="/timetable">Timetable</a>
    <a href="/favorites" class="active">Favorites</a>

    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="sidebar-link">Logout</button>
    </form>
</div>

<div class="content">

    <h1>⭐ My Favorite Lines</h1>

    <div class="line-grid">

        <div class="line-card" th:each="fav : ${favorites}">

            <div class="line-number"
                 th:text="${fav.line.lineNumber}">
                1
            </div>

            <div class="line-info">
                <h3 th:text="${fav.line.name}">
                    Split – Zračna luka
                </h3>
            </div>

            <div class="fav-actions">
                <a th:href="@{'/timetable/' + ${fav.line.id}}"
                   class="btn-small">
                    View
                </a>

                <form th:action="@{'/favorites/remove/' + ${fav.line.id}}"
                      method="post">
                    <button class="btn-small btn-danger" type="submit">
                        Remove
                    </button>
                </form>
            </div>

        </div>

    </div>

</div>


</body>
</html>
