<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="home-container">

    <h1>Welcome 👋</h1>

    <p>
        Logged in as
        <strong th:text="${userName}">User</strong>
    </p>

    <a th:href="@{/live}" class="card-button">
        🗺️ Live Map
        <div class="subtitle">Track buses in real-time</div>
    </a>
    <a th:href="@{/timetable}" class="card-button">
        📘 Timetable
        <div class="subtitle">Search lines & view routes</div>
    </a>

    <a th:href="@{/favorites}" class="card-button">
        ⭐ My Favorites
        <div class="subtitle">Your saved lines</div>
    </a>

    <div th:if="${role == 'ROLE_ADMIN'}">
        <a th:href="@{/admin}" class="card-button">
            ⚙ Admin Panel
            <div class="subtitle">Manage users & data</div>
        </a>
    </div>

    <form th:action="@{/logout}" method="post" style="margin-top:40px;">
        <button type="submit" class="btn-logout">Logout</button>
    </form>

</div>
</body>
</html>