<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="home-container">

    <h1>Welcome 👋</h1>

    <p>
        Logged in as
        <strong th:text="${userName}">User</strong>
    </p>


    <form th:action="@{/timetable/filter}" method="get" class="filter-box">

        <label>Line</label>
        <select name="lineId" required>
            <option value="" disabled selected>Choose line</option>
            <option th:each="l : ${lines}"
                    th:value="${l.id}"
                    th:text="${l.name}">
            </option>
        </select>

        <label>Day</label>
        <select name="day">
            <option th:each="d : ${days}"
                    th:value="${d.value}"
                    th:text="${d.label}">
            </option>
        </select>

        <label>From</label>
        <input type="time" name="from" step="60"/>

        <label>To</label>
        <input type="time" name="to" step="60"/>

        <button type="submit" class="card-button">
            🔎 Filter Timetable
        </button>
    </form>

    <a th:href="@{/live}" class="card-button">
        🗺️ Live Map
        <div class="subtitle">Track buses in real-time</div>
    </a>
    <a th:href="@{/timetable}" class="card-button">
        📘 Timetable
        <div class="subtitle">Search lines & view routes</div>
    </a>

    <a th:href="@{/favorites}" class="card-button">
        ⭐ My Favorites
        <div class="subtitle">Your saved lines</div>
    </a>

    <a th:href="@{/sales-points}" class="card-button">
        🎟 Sales Points
        <div class="subtitle">Ticket kiosks & kartomats</div>
    </a>

    <div th:if="${role == 'ROLE_ADMIN'}">
        <a th:href="@{/admin}" class="card-button">
            ⚙ Admin Panel
            <div class="subtitle">Manage users & data</div>
        </a>
    </div>

    <form th:action="@{/logout}" method="post" style="margin-top:40px;">
        <button type="submit" class="btn-logout">Logout</button>
    </form>


</div>
</body>
</html>