<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Registration</h1>

<p th:if="${error}" th:text="${error}" class="error-message"></p>

<form th:action="@{/user/register}" th:object="${userRegisterDto}" method="post">
    <label>Name:</label><br>
    <input type="text" th:field="*{name}" required><br><br>

    <label>Email:</label><br>
    <input type="email" th:field="*{email}" required><br><br>

    <label>Password:</label><br>
    <input type="password" th:field="*{password}" required><br><br>

    <label>Confirm Password:</label><br>
    <input type="password" th:field="*{confirmPassword}" required><br><br>

    <button type="submit">Register</button>
</form>

<p>Already have an account? <a th:href="@{/user/login}">Log in here</a></p>
</body>
</html>
