<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <title>Prodajna mjesta karata</title>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="/webjars/leaflet/1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" th:href="@{/css/sales_points_user.css}">
</head>
<body>

<div class="sidebar">
    <h2>Menu</h2>

    <a href="/user/login_success">Back to home</a>

    <a href="/live">Live Map</a>
    <a href="/sales-points" class="active">Sales Points</a>

    <a href="/timetable">Timetable</a>
    <a href="/favorites">Favorites</a>

    <form th:action="@{/logout}" method="post" class="logout-form">
        <button type="submit" class="sidebar-link">Logout</button>
    </form>
</div>

<div class="content">
    <div id="map"></div>
</div>

<script src="/webjars/leaflet/1.9.4/dist/leaflet.js"></script>

<script th:inline="javascript">
    const salesPoints = /*[[${salesPoints}]]*/ [];
</script>

<script th:src="@{/js/sales_points_user.js}"></script>

</body>
</html>
